{% extends "base.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col-6 offset-3">
        <h2>上传并加密图片</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.image.label }}
                {{ form.image(class="form-control-file") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <a href="{{ url_for('gallery') }}" class="btn btn-secondary">查看画廊</a>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">注销</a>
    </div>
</div>
{% endblock %}
